<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYqi0tb6gQDPK8hc0zlvd7VWw-lKtKRh0</string>
	<key>GCM_SENDER_ID</key>
	<string>362994180990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatMingle</string>
	<key>PROJECT_ID</key>
	<string>chat-mingle-bf557</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-mingle-bf557.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362994180990:ios:147a1d65b3cae8fc54c92f</string>
</dict>
</plist>